---
import Body from "../layouts/Body.astro"
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Invy's Error page</title>
	</head>
    <Body>
        <div class="flex flex-col justify-center items-center h-screen text-mplus font-bold text-5xl">
            💥 Hey this is Error page 💥
        </div>
    </Body>
</html>
