---
import Layout from '../layouts/Layout.astro';
import Body from "../layouts/Body.astro"
import NavBar from "../components/Nav"
---

<Layout title="Welcome to Invy.">
	<Body>
        <NavBar client:load/>
	</Body>
</Layout>
