---
import Layout from '../layouts/Layout.astro';
import Body from "../layouts/Body.astro"
import NavBar from "../components/Nav"
import Header from "../components/Header.astro"
import Menu from "../components/Menu.astro"
---

<Layout title="Welcome to Invy.">
	<Body>
        <NavBar client:load/>
        <Header/>
        <Menu/>
	</Body>
</Layout>
