---
---

<div class="bg-yellow-500">
    <video class="hidden md:block md:z-0 md:rouded-sm md:drop-shadow-lg md:absolute md:top-10 md:inset-x-14 md:object-cover md:w-9/12" autoplay="autoplay" loop="loop" muted="muted">
        <source src={"/donut-video.mp4"} type="video/mp4"/>
    </video>
    <div class="relative flex flex-col items-center pt-10 md:z-50 md:flex md:flex-row md:pt-20 md:justify-center md:items-center">
        <p class="z-40 absolute top-[8%] text-3xl text-sky-500 font-bold w-72 md:top-[15%] md:left-[10%] lg:left-[25%]">Get our specialty donut milkshake today!</p>
        <img class="z-30 w-96 h-auto rounded-lg md:rounded-lg" src={"/donut-one.jpg"} alt="main watch picture"/>
        <div class="z-50 backdrop-blur-md bg-gradient-to-r from-sky-500/75 to-indigo-500/75 border border-white flex flex-col justify-center items-center mt-5 py-5 w-96 pl-5 md:ml-10 lg:ml-24">
            <h1 class="z-50 text-3xl lg:text-4xl pb-5">
            Here at Invy
            </h1>
            <p class="z-50 text-md indent-4 pt-2 md:text-xl md:indent-8">
            We hand craft donuts to perfection. Every donut gets put together by 
            hand by most talented watch bakers around the country. After you place
            an order with us we make sure you get the best experiance, the best 
            customer support and the best advice for your next master peice of a donut!
            </p>
        </div>
    </div>
</div>
