---
---

<div>
    <video class="z-0 absolute top-20 h-auto object-cover max-w-full max-h-54" autoplay="autoplay" loop="loop" muted="muted">
        <source src={"/wind.mp4"} type="video/mp4"/>
    </video>
<div class="flex flex-col justify-center items-center pt-10 md:z-50 md:flex md:flex-row md:pt-20 md:justify-center md:items-center">
    <img class="z-50 w-96 h-[550px] rounded-full md:rounded-lg" src={"/three.jpg"} alt="main watch picture"/>
        <div class="flex flex-col justify-center items-center pt-2 mx-2 w-96 pl-5">
        <h1 class="z-50 text-3xl lg:text-4xl pb-5">
            Here at Invy
        </h1>
        <p class="z-50 text-md indent-4 pt-2 md:text-xl md:indent-8">
            We hand craft every watch to perfection. Every watch gets put together by 
            hand by most talented watch makers around the country. After you place
            an order with us we make sure you get the best experiance, the best 
            customer support and the best advice for you next master peice.
        </p>
    </div>
</div>
</div>
