---

---

<div class="mt-20 rounded-md flex flex-col justify-center items-center md:flex md:flex-row  md:items-center md:w-full md:mx-0">
    <div class="w-full rounded-md md:mt-24 lg:mt-0">
    <h2 class="text-3xl md:text-4xl flex justify-center items-center">staples</h2>
        <div class="p-5 flex flex-col justify-center items-center text-xl">
            <p>Mable frosted</p>
            <p>Chocolate frosted</p>
            <p>Vanilla frosted</p>
            <p>Strawberry frosted</p>
            <p>Glazed frosted</p>
            <p>Glazed minies</p>
            <p>Jelly Filled</p>
        </div>
    </div>
    <div class="w-full  rounded-md md:mt-24 lg:mt-0">
    <h2 class="text-3xl md:text-4xl flex justify-center items-center">Specials</h2>
        <div class="p-5 flex flex-col justify-center items-center text-xl">
            <p>Mable frosted</p>
            <p>Chocolate frosted</p>
            <p>Vanilla frosted</p>
            <p>Strawberry frosted</p>
            <p>Glazed frosted</p>
            <p>Glazed minies</p>
            <p>Jelly Filled</p>
        </div>
    </div>
</div>
